<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Basic Page Needs
    ================================================== -->
    <meta charset="utf-8">
    <!--[if IE]><meta http-equiv="x-ua-compatible" content="IE=9" /><![endif]-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>iHELP</title>
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    
    <!-- Favicons
    ================================================== -->
    <link rel="shortcut icon" href="/static/img/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="/static/img/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="/static/img/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="/static/img/apple-touch-icon-114x114.png">

    <!-- Bootstrap -->
    <link rel="stylesheet" type="text/css"  href="/static/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/static/fonts/font-awesome/css/font-awesome.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">

    <!-- Slider
    ================================================== -->
    <link href="/static/css/owl.carousel.css" rel="stylesheet" media="screen">
    <link href="/static/css/owl.theme.css" rel="stylesheet" media="screen">

    <!-- Stylesheet
    ================================================== -->
    <link rel="stylesheet" type="text/css"  href="/static/css/style.css">
    <link rel="stylesheet" type="text/css" href="/static/css/responsive.css">
    <link rel="stylesheet" href="/static/css/normalize.css">
    <link rel="stylesheet" href="/static/css/style2.css">
    <link rel="stylesheet" href="/static/dist/sweetalert.css">

    <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,700,300,600,800,400' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,300,600' rel='stylesheet' type='text/css'>

    <script type="text/javascript" src="/static/js/modernizr.custom.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <!-- Navigation
    ==========================================-->
    <nav id="tf-menu" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.ejs">iHelp</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right" id="ulNav">
            <li><a href="/" class="page-scroll">Home</a></li>
            <li><a href="#tf-about" class="page-scroll">Profile</a></li>
            <li class="dropdown" id="'+data.user._id +'">
                <a href="#" class="page-scroll dropdown-toggle" data-toggle="dropdown" id="signButton"><%=user.firstName%>
                    <span class="caret"></span>
                </a>
                <ul class="dropdown-menu" role="menu">
                    <li>
                        <a  id ="profileButton" href="/profile/<%=user.firstName%>">Profile</a></li><li class="divider">
                    </li>
                    <li>
                        <a id="logOut" class='logOutProfile' href="/">Log out</a>
                    </li>
                </ul>
            </li>
          </ul>
        </div><!-- /.navbar-collapse -->
      </div><!-- /.container-fluid -->
    </nav>

    <div id="tf-home">
        <div class="overlay">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
            <div class="container">
            <div class="row">
                <div class="col-md-6" id="imageContainer">
                     <img src="/static/img/02.png" class="img-responsive">
                   <!-- <div>
                        <input id="realUploadBtn" name ="media-drop-placeholder-file" placeholder="Browse a file"type="file" accept="image/*" tabindex="-1">
                    </div>-->
                </div>
                <div class="col-md-6">
                    <div class="about-text">
                        <div class="section-title">
                            <h4>About you</h4>
                            <h2><%=user.firstName%> <strong><%=user.lastName%></strong></h2>
                            <hr>
                            <div class="clearfix"></div>
                        </div>
                        <p class="intro">This is your profile page, you can tell us more about you here in this section, to help you find optimized results in your seach</p>
                        
                        <br>
                        <a href="#tf-profile" class="editProfile">Edit profile</a>
                        <br>
                        <a href="#tf-profile" class="editProfile">Change Password</a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>

      <!-- Profile form -->
    <div class="form" id="tf-profile" style="display:none">
        <a class="boxclose" id="boxclose2"></a> 
        <ul class="tab-group">
            <li class="tab active"><a style=" width : 100%">Profile</a></li>
        </ul>
            <div id="signup">   
                <h1>Edit your profile information</h1>
                <form  id ='profileForm'>
                    <div class="top-row">
                        <div id='field1' class="field-wrap">
                          <label>
                            First Name<span class="req">*</span>
                          </label>
                          <input type="text" name='firstName' id='firstName' required autocomplete="off" />
                        </div>
                        <div id='field2' class="field-wrap">
                          <label>
                            Last Name<span class="req">*</span>
                          </label>
                          <input name ='lastName' id='lastName' type="text"required autocomplete="off"/>
                        </div>
                    </div>
                    <div id='field3' class="field-wrap">
                        <label>
                          Email Address<span class="req">*</span>
                        </label>
                        <input type="email" name ="email" id= "email" required autocomplete="off"/>
                    </div>
                    <div id='field5' class="field-wrap">
                        <label>
                          Network<span></span>
                        </label>
                        <input type="text" name ="network" id= "network" required autocomplete="off"/>
                    </div>
                    <p class="forgot"><a href="">The network that you belong to</a></p>
                    <div id='field6' class="field-wrap">
                        <label>
                          Medical history<span></span>
                        </label>
                        <input type="text" name ="record" id= "record" required autocomplete="off"/>
                    </div>
                     <p class="forgot"><a href="">write keywords separated with ','</a></p>
                    <button type="submit" id='update' class="button button-block"/>Update</button>
                </form>
            </div>
    </div> <!-- /form -->


    
     <!-- Footer
     =======================================-->
    <nav id="footer">
        <div class="container">
            <div class="pull-left fnav">
                <p>ALL RIGHTS RESERVED. COPYRIGHT © 2014. Designed by <a href="https://dribbble.com/shots/1817781--FREEBIE-Spirit8-Digital-agency-one-page-template">Robert Berki</a> and Coded by <a href="https://dribbble.com/jennpereira">Jenn Pereira</a></p>
            </div>
            <div class="pull-right fnav">
                <ul class="footer-social">
                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                    <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                </ul>
            </div>
        </div>
    </nav>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
    <script type="text/javascript" src="/static/js/jquery.1.11.1.js"></script>
     <script src="https://code.jquery.com/jquery-1.10.2.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="/static/js/bootstrap.js"></script>
    <script type="text/javascript" src="/static/js/SmoothScroll.js"></script>
    <script type="text/javascript" src="/static/js/jquery.isotope.js"></script>

    <script src="/static/js/owl.carousel.js"></script>
     <script src="/static/dist/sweetalert.min.js"></script>

    <!-- Javascripts
    ================================================== -->
    <script type="text/javascript" src="/static/js/main.js"></script>
    <script type="text/javascript" src="/static/js/app.js"></script>
    <script type="text/javascript" src="/static/js/index.js"></script>

  </body>
</html>